# Problem Set 2

### Question 1

In [10]:
a = 0          #Initially variable "a" is assigned the value 0

def b():       # Difining the function "b"
 global a     
 a = c(a)

def c(a):
 return a + 2

print(b())           
print(b())
print(b())
print(a)

None
None
None
6

 Explanation:
    First of all, variable "a" is given the value 0.
    Then function 'b()' and 'c()' are defined. 
    Function 'b()' usues 'c()' to update the global variable 'a' and adds 2 to its current value.
    function 'c()' takes argument 'a' and returns 'a+2'.
    When we call 'b()' three times, it updates the global variable 'a' and adds 2 every time.
    Hence, after interpreter evaluates the value of 'a', it displays current value of global variable that is now 6.

### Question 2

In [60]:
import os              

def file_length(file_name):          #  function "file_length"
    file = open(file_name)           
    contents = file.read()           # file is being read by function
    file.close()
    if os.path.isfile(file_name):    # checking if file does exists
        return len(contents)         # it will return thr length of the contents string if file does exists
    else:
        return -1                    # will return -1 if the file doesn't exists

filename = 'Filelenghth.txt'                 
filesize = file_length(filename)     

if filesize != -1:                            
    print(f'The size of {filename} is {filesize} bytes.')
else:
    print(f'{filename} does not exist.')

The size of Filelenghth.txt is 123 bytes.

In [59]:
def file_Length(fl):
    try:
        with open(fl,) as infile:
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print("File {} not found.".format(fl))
    except:
        print("Error reading file {}.".format(fl))
print(file_Length('midterm.py'))

(file_Length('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.

### Question 3

In [15]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch
    
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [100]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (12,0)

### Question 4

In [101]:
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        collatz(x // 2)
    else:
        print(x)
        collatz(3 * x + 1)
        
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

### Question 5

In [69]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
n = 0
print(binary(n))
n = 1
print(binary(n))
n = 3
print(binary(n))
n = 9
print(binary(n))

0
1
11
1001

### Question 6

In [80]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            self.indentation = int(tag[1]) - 1

    def handle_data(self, data):
        heading = data.strip()
        if heading:
            self.headings.append(' ' * self.indentation + heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)



with open('w3c.html') as infile:
content = infile.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

IndentationError: expected an indented block after 'with' statement on line 25 (3959352712.py, line 26)

### Question 7

In [74]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    print(' ' * indent + url)

    if depth == 0:
        return

    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and href.startswith('http'):
            webdir(href, depth - 1, indent + 4)


webdir('https://quotes.toscrape.com/', 2, 0)

https://quotes.toscrape.com/
    https://www.goodreads.com/quotes
        https://www.goodreads.com/blog/show/2594?ref=SRMood23_eb
        https://help.goodreads.com/s/article/Who-can-add-quotes-to-Goodreads

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

        https://images.gr-assets.com/quotes/1511992603p8/8630.jpg

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

        https://images.gr-assets.com/quotes/1387503187p8/10554.jpg

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

        https://images.gr-assets.com/quotes/1387506524p8/2534.jpg

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

        https://images.gr-assets.com/quotes/1512016299p8/12379.jpg
        https://help.goodreads.com/s/article/Goodreads-Interest-Based-Ads-Notice
        https://www.facebook.com/Goodreads/
        https://twitter.com/goodreads
        https://www.instagram.com/goodreads/
        https://www.linkedin.com/company/goodreads-com/
        https://itunes.apple.com/app/apple-store/id355833469?pt=325668&ct=mw_footer&mt=8
        https://play.google.com/store/apps/details?id=com.goodreads&utm_source=mw_footer&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1
    https://scrapinghub.com
        https://www.extractsummit.io/2023-buy-tickets/?utm_source=zyte.com&utm_medium=sitewide_banner
        https://app.zyte.com/account/login
        https://support.zyte.com/support/home
        https://docs.zyte.com
        https://support.zyte.com/support/home
        https://app.zyte.com/account/signup/zyteapi
        https://app.zyte.com/account/signup/zyteapi
        https://docs.zyte.com/
        https://support.zyte.com/support/home
        https://docs.zyte.com/what-is-zyte.html
        https://docs.zyte.com/zyte-api/get-started/index.html
        https://docs.zyte.com/automatic-extraction-get-started.html
        https://docs.zyte.com/smart-proxy-manager-get-started.html
        https://support.zyte.com/
        https://twitter.com/zytedata?lang=es
        https://www.facebook.com/zytedata/
        https://www.instagram.com/zytedata/
        https://www.youtube.com/@zytedata
        https://www.linkedin.com/company/zytedata

### Question 8

In [90]:
import sqlite3

conn = sqlite3.connect('database_2005.db')

c = conn.cursor()

c.execute('''CREATE TABLE c_data (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
            )''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

c.executemany('INSERT INTO c_data VALUES (?, ?, ?, ?, ?)', data)


conn.commit()                  

#SQL Queries
c.execute('SELECT Temperature FROM c_data')  
print(c.fetchall())

c.execute('SELECT DISTINCT City FROM c_data')
print(c.fetchall())

c.execute('SELECT * FROM c_data WHERE Country="India"')
print(c.fetchall())

c.execute('SELECT * FROM c_data WHERE Season="Fall"')
print(c.fetchall())

c.execute('SELECT City, Country, Season FROM c_data WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season')
print(c.fetchall())

c.execute('SELECT City, Country FROM c_data WHERE Season="Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
print(c.fetchall())

c.execute('SELECT SUM(Rainfall) FROM c_data WHERE City="Cairo"')
print(c.fetchall())

c.execute('SELECT Season, SUM(Rainfall) FROM c_data GROUP BY Season')
print(c.fetchall())

# Close the connection 
conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

### Question 9

In [102]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [element.upper() for element in words]
print('a)')
print(uppercase_words)

a)
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [103]:
lowercase_words = [element.lower() for element in words]
print('b)')
print(lowercase_words)

b)
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [104]:
print('c)')
[len(element) for element in words]

c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [105]:
print('d)')
[[element.upper(), element.lower(), len(element)] for element in words]

d)

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [106]:
print('e)')
[element for element in words if len(element) >= 4]

e)

['quick', 'brown', 'jumps', 'over', 'lazy']